

body{
    min-height: 100vh;
    background-color: var(--body-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 180px);
    padding-bottom: 60px;
}

.form-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
    width: 750px;
    box-sizing: border-box;
    padding: 50px 35px;
    border-radius: 12px;
    margin-top: 40px;
    background-color: var(--color-header);
    transition: transform,ease,0s,0.2s;
}

form:hover {
    transform: translateY(6px) scale(1.04);
}

form > h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-header-h1);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group > label {
    color: var(--hora-color);
    font-weight: bold;
}

.input-group > input {
    padding: 12px 0 !important;
    background-color: var(--body-color);
    border-radius: 8px;
    color: var(--color-header-h1);
    font-size: 1.1rem;
    padding: 4px 4px;
}

.input-group > textarea {
    background-color: var(--body-color);
    border-radius: 8px;
    resize: none;
    color: var(--color-header-h1);
    font-size: 1.1rem;
    padding: 4px 4px;
}

form > button {
    width: 100%;
    background-color: var(--hora-color);
    padding: 14px 11px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-header-h1);
    margin: auto;
    border-radius: 8px;
    transition: transform,ease,0s,0.2s;
}


form > button:hover {
    transform: translateY(-2px);
}

@media (max-width: 1090px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fecha-hora {
       display: none;
    }
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {
    .form-container {
        width: 90%;
        padding: 1.5rem;
    }

    main {
        padding: 1rem;
    }

    .btn-volver {
        padding: 0.7rem 1.2rem;
        font-size: 1rem;
    }
}

.flash-wrapper {
    width: 80%;
    margin: 1rem auto; /* centra horizontalmente */
}

.flash-message {
    color: #fff; /* texto blanco */
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    animation: flashFade 0.5s ease-in-out;
}

/* colores según tipo */
.flash-verde {
    background-color: #4caf50; /* verde */
}

.flash-rojo {
    background-color: #f44336; /* rojo */
}

/* opcional: efecto de aparición */
@keyframes flashFade {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
