


body{
    min-height: 100vh;
    background-color: var(--body-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 180px);
    padding-bottom: 30px;
}

.estudios-section {
    width: 100%;
    display: flex;
    justify-content: center;

}

.estudios-col {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-header);
    padding: 40px 22px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform,ease,0s,0.2s;
}

.estudios-col:hover {
    transform: translateY(-4px) scale(1.04);
}



.estudios-col > h2 {
    text-align: center;
    color: var(--hora-color);
    font-size: 1.7rem;
}

.estudio-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.promedio {
    text-align: center;
    color: var(--color-header-h1);
    font-size: 1.11rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 14px 0;
    border-radius: 8px;
    border-left: 8px solid var(--hora-color);
    transition: transform ease 0s 0s,
                outline ease 0s 0s;
}

.promedio:hover {
    transform: translateY(-2px) scale(1.02);
    outline: 2px solid var(--hora-color);
}

.dia {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 12px 8px;
    border-radius: 8px;
    border-left: 5px solid var(--hora-color);
    transition: transform ease 0s 0s,
                outline ease 0s 0s;
}


.nombre-dia {
    color: var(--color-header-h1);
    font-weight: 1.02rem;
    font-weight: bold;
}

.minutos {
    color: var(--hora-color);
    font-weight: 1.02rem;
    font-weight: bold;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 42%;
    background-color: var(--color-header);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 45px 22px;
    gap: 27px;
    transition: transform,ease,0s,0.2s;
}

form:hover {
    transform: translateY(-4px) scale(1.04);
}

form > h2 {
    color: var(--hora-color);
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group > label {
    color: var(--hora-color);
    font-size: 1.1rem;
}

.input-group > input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--body-color);
    padding: 13px 12px;
    border-radius: 8px;
    font-size: 1rem;
    color: var(--color-header-h1);

}

.boton-hoy {
    width: 15%;
    padding: 8px 10px;
    margin: 10px auto 0 auto;
    border-radius: 8px;
    background-color: var(--color-modificar);
    color: var(--color-header-h1);
    font-size: 1.1rem;
    transition: transform, ease, 0s, 0.2s;
}

.boton-hoy:hover {
    transform: translateY(-4px) scale(1.04);
}


.input-group > input::placeholder {
    color: var(--color-header-h1);
}

.input-group > input[type="date"]{
    color: var(--color-header-h1);
}

.btn-guardar {
    width: 100%;
    background-color: var(--hora-color);
    color: var(--color-header-h1);
    font-size: 1.08rem;
    border-radius: 8px;
    padding: 12px 0;
}

@media (max-width: 1180px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fecha-hora {
       display: none;
    }
}