


body{
    min-height: 100vh;
    background-color: var(--body-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    min-height: calc(100vh - 180px);
    padding-bottom: 30px;
}

.horarios-actuales {
    width: 40%;
    min-width: 400px;
    max-width: 700px;
    padding: 30px 22px;
    border-radius: 10px;
    background-color: var(--color-header);
    display: flex;
    flex-direction: column;
    gap: 22px;
    transition: transform,ease,0s,0.2s;
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.2);
}

.horarios-actuales:hover {
    transform: translateY(-4px) scale(1.04);
}



.horarios-actuales > h2 {
    text-align: center;
    color: var(--hora-color);
    font-size: 2rem;
    font-weight: bold;
    transition: font-size,ease,0s,0.2s;
}

.horarios-actuales > h2:hover {
    font-size: 2.2rem;
}
.dias-horarios {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dia-horario {
    background-color: rgb(95, 96, 96);
    padding: 12.5px;
    border-radius: 8px;
    transition: transform,ease,0s,0.2s;
    position: relative;
}

.eliminar-horarios {
    position: absolute;
    text-decoration: none;
    color: var(--color-header-h1);
    font-size: 1.3rem;
    font-weight: bold;
    right: 10px;
    top: 8px;
    bottom: 8px;
    background-color: var(--color-eliminar);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 3px 8px;
    transition: transform,ease,0s,0.2s;
    cursor: pointer;
}

.eliminar-horarios:hover {
    transform: translateY(-2px) scale(1.04);
}


.dia-horario > strong {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.dia-horario {
    color: rgb(215, 215, 215);
}


.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.formulario-horarios {
    width: 40%;
    min-width: 400px;
    max-width: 700px;
    padding: 30px 22px;
    border-radius: 10px;
    background-color: var(--color-header);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: transform,ease,0s,0.2s;
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.2);
}

.formulario-horarios:hover {
    transform: translateY(-4px) scale(1.04);
}

.formulario-horarios > h2 {
    text-align: center;
    color: var(--hora-color);
    font-size: 2rem;
    font-weight: bold;
    transition: font-size,ease,0s,0.2s;
}

.formulario-horarios > h2:hover {
    font-size: 2.2rem;
}

.dias-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-group > label {
    font-size: 1.1rem;
    color: var(--color-header-h1);
    transition: font-size,ease,0s,0.2s;
}

.input-group > label:hover {
    font-size: 1.3rem;
}

.input-group > input {
    padding: 12px;
    background-color:rgb(95, 96, 96);
    border-radius: 8px;
    transition: transform,ease,0s,0.2s;
    color: var(--color-header-h1);
    font-size: 1.1rem;
}

.input-group > input:hover {
    transform: scale(1.01) translateY(-2px);
}

.input-group > input::placeholder {
    color: var(--color-header-h1);
    font-size: 0.95rem;
}

.btn-guardar {
    padding: 17px 0;
    color: var(--color-header-h1);
    background-color: var(--hora-color);
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform,ease,0s,0.2s;
    cursor: pointer;
}

.btn-guardar:hover {
    transform: scale(1.01) translateY(-2px);
}


@media (max-width: 1180px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fecha-hora {
       display: none;
    }
}