


body {
    background-color: var(--body-color);
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

form {
    width: 450px;
    min-width: 400px;
    max-width: 530px;
    margin: 40px auto 0 auto;
    padding: 52px 0;
    background-color: var(--color-header);
    box-shadow: 10px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform,ease,0s,0.2s;
}

form:hover {
    transform: translateY(-6px) scale(1.04);
}

form > h3 {
    color: var(--color-header-h1);
    font-size: 1.5rem;
    
}

form > div {
    display: flex;
    flex-direction: column;
    color: var(--hora-color);
    width: 80%;
    margin: 15px 0;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}

input {
    color: var(--color-header-h1);
    font-size: 1.2rem;
    padding: 0 3px;
}

input[type="password"] {
    background-color: var(--color-header);
    border: 1.5px solid var(--hora-color);
    border-radius: 7px;
    padding: 20px 10px;
}

input[type="submit"] {
    background-color: var(--hora-color);
    color: var(--color-header-h1);
    padding: 16px 0;
    border-radius: 8px;
    font-size: 1.1rem;
}

/* RESPONSIVE */
@media (max-width: 1180px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fecha-hora {
       display: none;
    }
}

@media (max-width: 520px) {
    form {
        margin-top: 0;
        min-width: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
}

