

body{
    min-height: 100vh;
    background-color: var(--body-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 180px);
    padding-bottom: 30px;
}

.flash-error {
    background-color: var(--flash-color-error);
}

.flash-success {
    background-color: var(--flash-color-success);
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form-container > h2 {
    font-size: 1.7rem;
    color: var(--hora-color);
}

.form-container > form {
    width: 35%;
    background-color: var(--color-header);
    border-radius: 8px;
    padding: 37px 22px;
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform,ease,0s,0.2s;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group > label {
    color: var(--hora-color);
    font-size: 1.07rem;
}

.input-group > input {
    padding: 10px 5px;
    border-radius: 8px;
    background-color: var(--body-color);
    color: var(--color-header-h1);
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.2);
}

.input-group > textarea {
    padding: 10px 5px;
    border-radius: 8px;
    background-color: var(--body-color);
    color: var(--color-header-h1);
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.2);
    
}


input[type="submit"] {
    background-color: var(--hora-color);
    padding: 10px 3px;
    border-radius: 8px;
    color: var(--color-header-h1);
    font-size: 1.1rem;
}

.materias-comparativa {
    display: flex;
    gap: 20px;
}

.materia-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    box-sizing: border-box;
    padding: 55px 30px 20px 30px;
    border-radius: 8px;
    background-color: var(--color-header-h1);
    transition: transform,ease,0s,0.2s;
}

.materia-nombre {
    color: var(--hora-color);
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
}

.materia-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.materia-info > p {
    color: var(--color-sombra-header);
    font-weight: bold;
}

.materia-info > strong {
    color: var(--hora-color);
}

.materia-card {
    background-image: 
        repeating-linear-gradient(
            45deg,                 /* ángulo de las rayas */
            rgba(0,0,0,0.05),      /* color de la línea */
            rgba(0,0,0,0.05) 2px,  /* grosor de la línea */
            transparent 2px,       /* espacio transparente */
            transparent 8px        /* separación entre rayas */
        );
}

.materia-opciones {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 30px;
    flex-grow: 1;
}

.materia-opciones > div {
    font-size: 1.2rem;
    padding: 10px 13px;
    border-radius: 8px;
    color: var(--color-header-h1);
}

.ver {
    background-color: var(--color-ver);
}

.eliminar {
    background-color: var(--color-eliminar);
}

.modificar {
    background-color: var(--color-modificar);
}