<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar Materia</title>
    <link rel="stylesheet" href="../static/cargar_materia.css">
</head>
<body>

    <!-- NAV PARA NAVEGACIÓN -->
        <nav class="main-nav">
            <ul>
                <li><a href="/panel">Panel</a></li>
                <li><a href="/cargar-materia">Crear materia</a></li>
                <li><a href="/ver-materias">Ver Materias</a></li>
            </ul>
        </nav>


    <header>
        <h1>FACULTAD ORGANIZACION</h1>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories = false) %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="flash-wrapper">
                                <div class="flash-message">
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                {% endwith %}
        <section class="form-container">

            

            <form action="/crear-materia" method="POST" enctype="multipart/form-data">
                <h2>Cargar Nueva Materia</h2>

                <div class="input-group">
                    <label>Nombre de la materia *</label>
                    <input type="text" name="nombre" required>
                </div>

                <div class="input-group">
                    <label>Descripción (opcional)</label>
                    <textarea name="descripcion" rows="4"></textarea>
                </div>

                <div class="input-group">
                    <label>Carga semanal (horas) *</label>
                    <input type="number" name="carga" min="1" required>
                </div>

                <button type="submit" class="btn-guardar">
                    Guardar Materia
                </button>

            </form>

        </section>

    </main>

</body>
</html>