<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Exámenes</title>
    <link rel="stylesheet" href="../static/examen.css">
</head>
<body>

    <!-- NAV -->
    <nav class="main-nav">
        <ul>
            <li><a href="/panel">Panel</a></li>
            <li><a href="/cargar-materia">Cargar Materia</a></li>
            <li><a href="/ver-materias">Ver Materias</a></li>
        </ul>
    </nav>

    <!-- HEADER -->
    <header>
        <h1>FACULTAD ORGANIZACIÓN</h1>
    </header>

    <main>

        {% with messages = get_flashed_messages(with_categories = false) %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="flash-message">
                        <p>{{ message }}</p>
                    </div>   
                    {% endfor %}
                {% endif %}
        {% endwith %}

        <!-- SECCIÓN DE EXÁMENES -->
        <section class="examenes-section">

            <div class="examenes-col">
                <h2>Pendientes</h2>
                <div class="examen-lista">
                    {% if examenes_pendientes %}
                        {% for examen in examenes_pendientes %}
                            <div class="examen pendiente">
                                <h3>{{ examen.nombre }}</h3>
                                <p><span>Fecha:</span> {{ examen.fecha }}</p>
                                <p><span>Hora:</span> {{ examen.hora }}</p>
                                <form action="/realizar-examen" method="post">
                                    <div>
                                        <input type="number" name="nota" id="nota" min="0" max="10" required placeholder="INGRESE LA NOTA DEL EXAMEN">
                                        <input type="hidden" name="id_materia" value="{{ materia.id_materia }}">
                                        <input type="hidden" name="id_examen" value="{{ examen.id_examen }}">
                                        <input type="hidden" name="estado_actual" value="0">
                                        <input type="submit" value="REALIZAR">
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="placeholder">No hay exámenes pendientes</p>
                    {% endif %}
                </div>
            </div>

            <div class="examenes-col">
                <h2>Realizados</h2>
                <div class="examen-lista">
                    {% if examenes_realizados %}
                        {% for examen in examenes_realizados %}
                            <div class="examen realizado">
                                <h3>{{ examen.nombre }}</h3>
                                <p><span>Fecha:</span> {{ examen.fecha }}</p>
                                <p><span>Hora:</span> {{ examen.hora }}</p>
                                <p class="nota 
                                    {% if examen.nota < 4 %}
                                        nota-roja
                                    {% elif examen.nota < 7 %}
                                        nota-amarilla
                                    {% else %}
                                        nota-verde
                                    {% endif %}
                                "><span>Nota:</span> {{ examen.nota }}</p>
                                <form action="/marcar-examen-pendiente" method="post">
                                    <div>
                                        <input type="hidden" name="id_materia" value="{{ materia.id_materia }}">
                                        <input type="hidden" name="id_examen" value="{{ examen.id_examen }}">
                                        <input type="hidden" name="estado_actual" value="1">
                                        <input type="submit" value="VOLVER">
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="placeholder">No hay exámenes realizados</p>
                    {% endif %}
                </div>
            </div>

        </section>

        <!-- FORMULARIO -->
        <section class="form-container">

            <form action="/crear-examen" method="POST">
                <input type="hidden" name="id_materia" value="{{ materia.id_materia }}">
                <h2>Cargar Examen de {{ materia.nombre }}</h2>

                <div class="input-group">
                    <label>Nombre del examen *</label>
                    <input type="text" name="nombre" required>
                </div>

                <div class="input-group">
                    <label>Fecha del examen *</label>
                    <input type="date" name="fecha" required>
                </div>

                <div class="input-group">
                    <label>Hora del examen *</label>
                    <input type="time" name="hora" required>
                </div>

                <button type="submit" class="btn-guardar">
                    Guardar Examen
                </button>

            </form>

        </section>

    </main>

</body>
</html>