<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIAR SESION</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <h1>FACULTAD ORGANIZACION</h1>
        <div class="fecha-hora">
            <div class="fecha no-seleccion" id="fecha" data-formato = "1">Cargando fecha...</div>
            <div class="hora no-seleccion" id="hora" data-formato = "1">Cargando hora...</div>
        </div>
    </header>
    
    <main>
        
        
        <section>
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="flash-message flash-{{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}   
            <form action="/login-user" method="post">
                <h3>Login</h3>
                <div>
                    <label for="password">Ingrese La Contraseña</label>
                    <input type="password" name="password" id="password" class="password" placeholder="ingrese la contraseña">
                </div>

                <div>
                    <input type="submit" value="INGRESAR">
                </div>
            </form>
        </section>
    </main>
    <script src="../static/js/hoja.js"></script>
</body>
</html>