<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Materia</title>
    <link rel="stylesheet" href="../static/css/materia.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>

    <!-- NAV PRINCIPAL -->
    <nav class="main-nav">
        <ul>
            <li><a href="/panel">Panel</a></li>
            <li><a href="/cargar-materia">Crear materia</a></li>
            <li><a href="/ver-materias">Ver Materias</a></li>
        </ul>
    </nav>

    <!-- HEADER -->
    <header>
        <h1>FACULTAD ORGANIZACION</h1>
        <div class="fecha-hora">
            <div class="fecha no-seleccion" id="fecha" data-formato = "1">Cargando fecha...</div>
            <div class="hora no-seleccion" id="hora" data-formato = "1">Cargando hora...</div>
        </div>
    </header>
    
    <main>
        <!-- BOTÓN VOLVER -->
        <a href="/volver-ver-materias" class="btn-volver">Volver</a>
        
        <!-- NOMBRE DE LA MATERIA -->
        <h2 class="materia-titulo">{{ materia.nombre }}</h2>

        <!-- CAJAS INTERACTIVAS -->
        <div class="cards-container">
            <a href="/horarios/{{ materia.id_materia }}" class="card">Horarios</a>
            <a href="/estudio/{{ materia.id_materia }}" class="card">Estudio</a>
            <a href="/examenes/{{ materia.id_materia }}" class="card">Examenes</a>
        </div>
    </main>
    <script src="../static/js/hoja.js"></script>
</body>
</html>