<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Materia</title>
    <link rel="stylesheet" href="/static/css/modificar_materia.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

    <!-- NAV -->
    <nav class="main-nav">
        <ul>
            <li><a href="/panel">Panel</a></li>
            <li><a href="/cargar-materia">Crear Materia</a></li>
            <li><a href="/ver-materias">Ver Materias</a></li>
        </ul>
    </nav>

    <!-- HEADER -->
    <header>
        <button class="desplegar-menu ocultado"> = </button>
        <button class="cerrar-menu ocultado"> X </button>
        <h1>FACULTAD ORGANIZACIÓN</h1>
        <div class="fecha-hora">
            <div class="fecha no-seleccion" id="fecha" data-formato = "1">Cargando fecha...</div>
            <div class="hora no-seleccion" id="hora" data-formato = "1">Cargando hora...</div>
        </div>
    </header>

    

    <!-- MAIN -->
    <main>
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="flash-wrapper">
                        <div class="flash-message flash-{{ category}}">
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- BOTÓN VOLVER -->
        <a href="/ver-materias" class="btn-volver">Volver</a>


        <!-- FORMULARIO -->
        <div class="form-container">
            <h2>EDITAR {{ materia.nombre }}</h2>
            <form action="/actualizar-materia/{{ materia.id_materia }}" method="POST" class="form-modificar hover-outline">
                <div class="input-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="focus-outline nombre-input" value="{{ materia.nombre }}"  required>
                </div>
                <div class="input-group">
                    <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" id="descripcion" class="focus-outline descripcion-textArea" rows="3" required>{{ materia.descripcion }}</textarea>
                </div>
                <div class="input-group">
                    <label for="carga">Carga Horaria</label>
                    <input type="number" name="carga" id="carga" class="focus-outline carga-input" value="{{ materia.carga }}" required>
                </div>
                <input type="submit" class="btn-guardar" value="Modificar Materia"></input>
            </form>
        </div>

        <!-- VISTA COMPARATIVA DE MATERIAS -->
        <div class="materias-comparativa">
            <!-- Materia Original -->
            <!-- Nombre de la materia -->
            <div class="materia-card hover-outline">
                    <!-- Nombre de la materia -->
                    <h3 class="materia-nombre">{{ materia.nombre }}</h3>

                    <!-- Descripción -->
                    <div class="materia-info">
                        <strong>Descripción:</strong>
                        <p>{{ materia.descripcion if materia.descripcion else "Sin descripción" }}</p>
                    </div>

                    <!-- Carga semanal -->
                    <div class="materia-info">
                        <strong>Carga semanal:</strong>
                        <p>{{ materia.carga }} hs</p>
                    </div>

                    <div class="materia-opciones">
                        <div href="/materia/{{ materia.id_materia }}" class="ver pointer">👀 Ver</div>
                        <div href="/eliminar-materia/{{ materia.id_materia }}" class=" eliminar pointer">🗑 Eliminar</div>
                        <div href="/modificar-materia-pagina/{{ materia.id_materia }}" class="modificar pointer">✏ Modificar</div>
                    </div>

                </a>
            </div>
            
            <!-- Materia Vista Previa -->
            <div class="materia-card hover-outline">
                    <!-- Nombre de la materia -->
                    <h3 class="materia-nombre materia-nombre-modificar">{{ materia.nombre }}</h3>

                    <!-- Descripción -->
                    <div class="materia-info">
                        <strong>Descripción:</strong>
                        <p class="materia-descripcion-modificar">{{ materia.descripcion if materia.descripcion else "Sin descripción" }}</p>
                    </div>

                    <!-- Carga semanal -->
                    <div class="materia-info">
                        <strong>Carga semanal:</strong>
                        <p class="materia-carga-modificar">{{ materia.carga }} hs</p>
                    </div>

                    <div class="materia-opciones">
                        <div href="/materia/{{ materia.id_materia }}" class="ver pointer">👀 Ver</div>
                        <div href="/eliminar-materia/{{ materia.id_materia }}" class=" eliminar pointer">🗑 Eliminar</div>
                        <div href="/modificar-materia-pagina/{{ materia.id_materia }}" class="modificar pointer">✏ Modificar</div>
                    </div>

                </a>
            </div>

        </div>

        

    </main>
    <script src="../static/js/hoja.js"></script>
</body>
</html>