<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Materias</title>
    <link rel="stylesheet" href="../static/css/ver_materias.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>

    <!-- NAV PARA NAVEGACIÓN -->
        <nav class="main-nav">
            <ul>
                <li><a href="/panel">Panel</a></li>
                <li><a href="/cargar-materia">Crear materia</a></li>
                <li><a href="/ver-materias">Ver Materias</a></li>
            </ul>
        </nav>

    <header>
        <h1>FACULTAD ORGANIZACIÓN</h1>
        <div class="fecha-hora">
            <div class="fecha no-seleccion" id="fecha" data-formato = "1">Cargando fecha...</div>
            <div class="hora no-seleccion" id="hora" data-formato = "1">Cargando hora...</div>
        </div>
    </header>

<main>
    <!-- BOTÓN VOLVER -->
        <a href="/volver-panel" class="btn-volver">Volver</a>
    
    <!-- CONTENEDOR DE MATERIAS -->
    <section class="materias-container">
        {% if materias %}
            {% for materia in materias %}
            <a href="/materia/{{ materia.id_materia }}" class="materia-card">
                <!-- Nombre de la materia -->
                <h3 class="materia-nombre">{{ materia.nombre }}</h3>

                <!-- Descripción -->
                <div class="materia-info">
                    <strong>Descripción:</strong>
                    <p>{{ materia.descripcion if materia.descripcion else "Sin descripción" }}</p>
                </div>

                <!-- Carga semanal -->
                <div class="materia-info">
                    <strong>Carga semanal:</strong>
                    <p>{{ materia.carga }} hs</p>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <p>no hay materias cargadas todavia...</p>
        {% endif %}
    </section>
</main>
<script src="../static/js/hoja.js"></script>
</body>
</html>